@import './../../../scss/variables';

.reviewTop {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	width: 100%;
	margin: 3rem auto;

	.title {
		font-size: 1.66rem;
		font-weight: 500;
		text-transform: uppercase;
	}

	.container-reiview {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 2rem;
		width: 90%;
		margin: 0 auto;

		.left {
			width: 30%;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 40px;
			border-radius: 10px;
			background-color: $white-light;
			box-shadow: 0 0 90px darken($color: $white-light, $amount: 1.9963%);

			width: fit-content;
			gap: 10px;

			.left-top {
				display: flex;
				flex-direction: column;
				text-align: center;

				& span:first-child {
					font-size: 3rem;
					font-weight: 600;
				}

				& span:nth-child(2) {
					font-size: 0.75rem;
					color: $gray-light;
				}
			}

			.ratings {
				display: flex;
				align-items: center;
				gap: 2px;

				.star {
					color: rgba(248, 161, 1, 0.861);
					font-size: 19px;
				}
			}
		}

		.right {
			flex: 3;
			display: flex;
			flex-direction: column;
			gap: 18.9px;

			.right-item {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 3px;

				& span:first-child {
					flex: 1;
					margin-right: 18px;
					font-size: 14.5px;
					font-weight: 500;
				}

				& .line {
					flex: 7;
					height: 3px;
					border-radius: 10px;
					background-color: #d7d7d7;
					margin: 0 auto;
					position: relative;
					overflow: hidden;

					&::after {
						position: absolute;
						content: '';
						height: 100%;
						left: 0;
						top: 0;
						background: hsl(51, 100%, 50%);
					}

					&.line1::after {
						width: 96%;
					}
					&.line2::after {
						width: 80%;
					}
					&.line3::after {
						width: 56%;
					}
					&.line4::after {
						width: 35%;
					}
					&.line5::after {
						width: 18%;
					}
				}

				& .val {
					flex: 0.3;
					margin-left: 5px;
					font-size: 14px;
					color: $gray-light;
					display: flex;
					justify-content: start;
				}
			}
		}
	}

	.fieldComment {
		width: 100%;
		max-width: 85%;
		min-height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		box-shadow: 0 0 90px darken($color: #cccccc3e, $amount: 30);
		border-radius: 10px;
		margin: 0 auto;

		form {
			flex: 1;
			display: flex;
			height: 100%;

			input {
				height: 100%;
				flex: 2;
				padding: 10px;
				font-size: 18px;
				outline: none;
				border: 0;

				&::placeholder {
					font-size: 15px;
				}
			}

			button[type='submit'] {
				flex: 0.4;
				border: none;
				outline: 0;
				background-color: #000000a6;
				color: $main-white;
				cursor: pointer;
				font-size: 15px;
				font-weight: 500;
				border-radius: 10px;
			}
		}
	}
}
