@import '../../../scss/variables';

.headerTop {
	display: flex;
	align-items: center;
	gap: 2rem;
	background-color: $main-white;
	padding: 1.5rem 0;

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 6rem;
		height: 2rem;
		padding: 0rem 0.00294rem 0.2325rem 0rem;
		justify-content: center;
		align-items: center;
	}

	#SearchField {
		display: flex;
		height: 3.5rem;
		padding: 0.7rem;
		align-items: center;
		gap: 0.5rem;
		flex: 1 0 0;
		border-radius: 0.5rem;
		background-color: $white-light;

		.labelForSeachIput {
			width: 20%;
		}

		#search {
			width: 90%;
			padding: 0.5rem 0.2rem;
			height: 2rem;
			border: none;
			outline: none;
			background-color: transparent;
			font-size: 1.1rem;

			&::placeholder {
				font-size: 0.875rem;
				font-style: normal;
				line-height: 1.125rem;
			}
		}
	}

	.containerNav {
		display: flex;
		padding: 1rem 3rem;
		align-items: center;
		gap: 1rem;
		align-self: stretch;

		.lists {
			display: flex;
			align-items: flex-start;
			gap: 2.25rem;

			.listItem {
				display: inline-block;

				.Link {
					font-size: 1rem;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					padding: 0.4rem 0.5rem;
					transition: 0.3s ease-in-out;
					border-radius: 5px;
					color: $main-black;
					position: relative;

					&::after {
						content: '';
						left: 0;
						bottom: -3px;
						height: 4px;
						width: 100%;
						background: #000;
						position: absolute;
						border-radius: 5px;
						transform: scale(0);
						transform-origin: left;
						transition: all 300ms ease-in-out;
					}

					&:hover::after {
						transform: scale(1);
						transform-origin: right;
					}

					&.active::after {
						transform: scale(1);
						transform-origin: center;
					}
				}
			}
		}
	}

	.containerIcons {
		display: flex;
		align-items: center;
		gap: 0.8rem;
		align-self: stretch;

		.Icon {
			width: 1.5rem;
			cursor: pointer;
		}
	}

	.open-nav {
		z-index: 30;
		width: 40px;
		height: 30px;
		border: none;
		outline: 0;
		cursor: pointer;
		display: none;
		justify-content: center;
		align-items: center;
		background: transparent;
		background: $white-light;
		border-radius: 10%;
		box-shadow: 0 0 70px rgba(10, 10, 10, 0.333);

		.btn-open-nav-icon {
			font-size: 2rem;
		}
	}
}

// Media query tablet

@media (max-width: 991px) {
	.headerTop {
		justify-content: space-between;
		padding: 1rem 0.6rem;
		.logo {
			z-index: 20;
		}
		.containerNav {
			z-index: 10;
			position: fixed;
			right: 0;
			top: 2%;
			height: 100vh;
			width: 70%;
			background-color: $main-white;
			flex-direction: column;
			justify-content: center;
			padding: 0;

			.lists {
				flex-direction: column;

				.listItem .Link {
					font-size: 1.8rem;
				}
			}

			&.screen-md {
				display: none;
			}
		}
		.open-nav {
			display: flex;
		}
	}
}

// media query mobile

@media (max-width: 676px) {
	.headerTop .containerNav {
		width: 100%;
	}

	.headerTop {
		#SearchField {
			display: none;
		}
	}
}
