@font-face {
  font-family: "Figtree";
  src: url(../../public/Fonts/figtree/Figtree[wght].ttf) format("truetype");
  font-weight: 500;
}


@font-face {
  font-family: "SF Pro Display Bold";
  src: url(../../public/Fonts/SanFaciscoDisplay/SFPRODISPLAYBOLD.OTF) format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display Medium";
  src: url(../../public/Fonts/SanFaciscoDisplay/SFPRODISPLAYMEDIUM.OTF) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "SF Pro Display Regular";
  src: url(../../public/Fonts/SanFaciscoDisplay/SFPRODISPLAYREGULAR.OTF) format("truetype");
  font-style: normal;
  font-weight: 500;
}
