@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

html {
	font-size: 100%;
}

body {
	background-color: hsl(0, 0%, 98%);
	font-size: 1rem;
	padding: 2rem 1rem 0;
	font-family: 'Inter Tight', sans-serif;
}

@media (max-width: 676px) {
	body {
		padding: 0.1rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p {
	text-wrap: pretty;
}

a {
	text-decoration: none;
	font-family: 'Inter Tight', sans-serif;
}

ul {
	list-style-type: none;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}
