// Colors 

$main-black:hsla(0, 0%, 0%, 1);
$main-white:hsla(0, 0%, 100%, 1);
$gray-dack:hsla(0, 0%, 40%, 1);
$gray-light:hsla(0, 0%, 60%, 1);
$white-light:hsla(0, 0%, 96%, 1);
$Secondary-Charcoal:hsla(0, 0%, 18%, 1);
$home-backgroundColor:hsl(0, 0%, 98%);